.highlighted--showcase {
    padding: 20px 0 35px 0;
}

.highlightedGames--container {
    width: 100%;
    overflow-x: hidden;
}

.highlightedGames--list {
    display: flex;
    width: 645px;
    transition: all ease 0.2s;
}

.gameWrapper {
    display: flex;
}

@media (min-width: 992px) {
    .highlighted--showcase {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .highlightedGames--container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .highlightedGames--list {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .gameWrapper {
        flex-direction: column;
    }
}