.highlighted--showcase{
    padding: 30px 0 35px 20px;
    max-width: 100%;
}
.games--container {
    width: 680px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
@media(min-width:992px){
    .highlighted--showcase{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .games--container {
        width: 90%;
    }
}