.navbar--container {
  width: 100%;
  font-weight: 500;
  min-height: 60px;
  padding: 10px 25px 10px 30px;
  color: #fff;
  align-items: center;
}

.navbar--container a {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
}

.navbar--container a.active {
  font-weight: 600;
  color: #fff;
}

.navbar--container svg {
  width: 20px;
  height: 20px;
}

.navbar--container a span {
  text-transform: uppercase;
  margin-left: 8px;
}

#navbarNav {
  width: 100%;
  justify-content: center;
  z-index: 1;
}

@media (min-width: 992px) {
  .navbar--container {
    padding: 10px 25px 10px 35px;
  }

  #about-item {
    margin-right: 80px;
  }

  #catalog-item {
    margin: 0 20px;
  }
}