.gameCard {
    height: 275px;
    max-width: 215px;
    padding: 35px 15px 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    object-fit: cover;
    transform: scale(0.9);
    transition: all ease 0.2s;
    border-radius: 20px;
    cursor: pointer;
}

.gameCard h1 {
    text-align: center;
}

.gameCard span {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 17px;
}

@media (min-width: 576px) {
    .gameCard {
        height: 250px;
        min-width: 440px;
        transform: scale(0.95);
    }
}

@media (min-width: 992px) {
    .gameCard {
        min-width: 50%;
        height: 390px;
        transform: scale(0.9) translateX(+1%);
        padding: 35px 25px 20px 25px;
    }

    .gameCard:hover {
        transform: scale(0.95) translateX(-1.5%);
    }

    .gameCard h1 {
        font-size: 33px;
    }

    .gameCard span {
        max-width: 60%;
        font-size: 20px;
        line-height: 1.2;
    }

    .gameWrapper .gameCard {
        transform: scale(0.9) translateX(-7%);
        min-width: 280px;
        height: 170px;
        padding: 25px 15px 10px 15px;
        margin: 3px 0;
    }

    .gameWrapper .gameCard:hover:nth-child(1) {
        transform: scale(0.98) translateX(-3%) translateY(-3%);
    }

    .gameWrapper .gameCard:hover:nth-child(2) {
        transform: scale(0.98) translateX(-3%) translateY(+3%);
    }

    .gameWrapper .gameCard h1 {
        font-size: 22px;
    }

    .gameWrapper .gameCard:nth-child(1) span,
    .gameWrapper .gameCard:nth-child(2) span {
        display: none;
    }
}